<% provide(:title, "Apply") %>

<div id="apply-page">
<div class="container-fluid clear-nav">

	<h1>Apply for a Free Quote</h1>
	
	<span class='accent-border'>&nbsp</span>
	
	<%= render 'shared/error_messages' %>
	<%= form_for @borrower, url: {action: "create"} do |f| %>
	
		<fieldset class="container">
			<legend>Home information</legend>
			<%= f.fields_for :application do |ff| %>
			<div class="row">
				<div class="form-group col-sm-6 select-group text-center">
    			<%= ff.label :loan_purpose, class: 'label-select' %>
					<%= ff.select :loan_purpose, options_for_select(@loan_purpose_options), class: 'form-control' %>
					<%= render partial: 'shared/custom_select', 
							locals: { tabindex: "0", options_list: @loan_purpose_options } %>
				</div>
				<div class="form-group col-sm-6 select-group text-center">
    			<%= ff.label :property_type, class: 'label-select' %>
					<%= ff.select :property_type, options_for_select(@property_type_options), class: 'form-control' %>
					<%= render partial: 'shared/custom_select', 
							locals: { tabindex: "1", options_list: @property_type_options } %>	
				</div>
			</div> <!-- end .row -->	
			<div class="row">
				<div class="form-group col-sm-6">
					<%= ff.label :purchase_price %>
					<%= ff.text_field :purchase_price, placeholder: "$", class: 'form-control' %>
				</div>
				<div class="form-group col-sm-6">
					<%= ff.label :budget, "Down payment budget" %>
					<%= ff.text_field :budget, placeholder: "$", class: 'form-control' %>
				</div>
			</div> <!-- end .row -->
			<div class="row">	
				<div class="form-group col-xs-6 col-sm-3">
					<%= ff.label :zip_code %>
					<%= ff.text_field :zip_code, class: 'form-control', style: 'max-width:120px;', 'aria-describedby': 'loan_zipcode_description' %>
				</div>
				<div class="col-xs-6 form_field_label">
					<small id="loan_zipcode_description">* Nationwide services are currently available in CA, NV, OR, TX and WA</small>
				</div>
			</div> <!-- end .row -->
			<%end%>  <!-- end fields_for :application -->
		</fieldset>
		
		<span class='accent-border'>&nbsp</span>
	
		<fieldset class="container">
			<legend>Borrower information</legend>
			<div class="row">
				<div class="form-group col-sm-6">
					<%= f.label :first_name %>
					<%= f.text_field :first_name, class: 'form-control' %>
				</div>
				<div class="form-group col-sm-6">
					<%= f.label :last_name %>
					<%= f.text_field :last_name, class: 'form-control' %>
				</div>	
			</div> <!-- end .row -->
		
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<%= f.label :email %>
						<%= f.text_field :email, class: 'form-control' %>
					</div>
					<div class="form-group">
						<%= f.label :phone, "Best phone contact" %>
						<%= f.text_field :phone, class: 'form-control' %>
					</div>		
				</div>		
				<div class="col-sm-6 text-center">
					<div class="form-group">
						<%= f.label :credit_score, class: 'label-select'  %>
						<%= f.select :credit_score, options_for_select(@credit_score_options), class: 'form-control' %>
						<%= render partial: 'shared/custom_select', 
							locals: { tabindex: "9", options_list: @credit_score_options } %>
					</div>	
				</div>	
			</div> <!-- end .row -->
		
			<p class="form-label">Address</p>	
			<%= f.fields_for :address do |ff| %>		
			<div class="row">		
				<div class="col-sm-6">
					<div class="form-group">
						<span class="sr-only">Address: Street address line 1</span>
						<%= ff.text_field :street_1, placeholder: "Street", class: 'form-control' %>
					</div>
					<div class="form-group">
						<span class="sr-only">Adress: City</span>
						<%= ff.text_field :city, placeholder: "City", class: 'form-control' %>
					</div>
				</div>				
			
				<div class="col-sm-6 text-center">
					<div class="form-group col-xs-6" id="borrower_address_state">
					<!-- <span class="sr-only">Address: State</span> -->
					<%= ff.label :state, class: 'label-select'%>
					<%= ff.select :state, options_for_select(@state_abbrev), class: 'form-control' %>
					<%= render partial: 'shared/custom_select', 
							locals: { tabindex: "12", options_list: @state_abbrev } %>
					</div>
					<div class="form-group col-xs-6" id="borrower_zip">
					<span class="sr-only">Address: Zip code</span>
					<%= ff.text_field :zip_code, placeholder: "Zip code", class: 'form-control', 
							style: 'max-width:120px;'  %>
					</div>	
				</div>	
			<%end%>	
			</div> <!-- end .row -->			
		
		
		<h3>Optional information to help you find the best rate</h3>
		
			<div class="row">
				<div class="form-group col-sm-6">
					<%= f.label :income, "Est. gross yearly income" %>
					<%= f.text_field :income, placeholder: "$", class: 'form-control', 'aria-describedby': 'income_description' %>
				</div>
			
				<div class="form-group col-sm-6">
					<%= f.label :monthly_debt, "Est. monthly debt payment" %>
					<%= f.text_field :monthly_debt, placeholder: "$", class: 'form-control' %>
				</div>
			</div> <!-- end .row -->
			
			<div class="row">
				<div class="col-sm-6 form_field_label">
					<small id="income_description">
						Notice: Alimony, child support, or separate maintenance income 
						need not be revealed if the Borrower or Co-Borrower does not 
						choose to have it considered for repaying this loan.
					</small>
				</div>
			</div> <!-- end .row -->
			
			<div class="row">
				<div class="form-group col-sm-6">
					<%= f.label :employer, "Current employer" %>
					<%= f.text_field :employer, class: 'form-control' %>
				</div>
			
				<div class="form-group col-xs-5 col-sm-2">
					<%= f.label :employed_since, "Since" %>
					<%= f.text_field :employed_since, placeholder: "YYYY", class: 'form-control', style: 'max-width:120px;', 'aria-describedby': 'current_employer_description' %>		
				</div>	
				
				<div class="col-xs-7 form_field_label">
					<small id="current_employer_description">
						* Self-employed Borrowers may be required to provide additional 
						documentation such as tax returns and financial statements.
					</small>
				</div>
			</div> <!-- end .row -->
			
		</fieldset>
			
		<span class='accent-border'>&nbsp</span>
		
		<fieldset class="container">
			<legend>Co-Borrower information (optional)</legend>
			<h3>My co-borrower will be ...</h3>
		
			<%= f.fields_for :coborrower do |ff| %>
			<div class="row">
				<div class="radio col-sm-4">
					<%= ff.radio_button :spouse, "nil", checked: true %>
					<%= ff.label :spouse_nil, "No co-borrower" %>
				</div>
				<div class="radio col-sm-4">
					<%= ff.radio_button :spouse, 1 %>
					<%= ff.label :spouse_1, "spouse" %>	
				</div>
				<div class="radio col-sm-4">
					<%= ff.radio_button :spouse, 0 %>	
					<%= ff.label :spouse_0, "other" %>
				</div>
			</div> <!-- end .row -->
			<div class="row">
				<div class="form-group col-sm-6">
					<%= ff.label :first_name %>	
					<%= ff.text_field :first_name, class: 'form-control' %>	
				</div>
			
				<div class="form-group col-sm-6">
					<%= ff.label :last_name %>	
					<%= ff.text_field :last_name, class: 'form-control' %>	
				</div>	
			</div> <!-- end .row -->
			
			<div class="row">
				<div class="form-group col-sm-6 text-center">
					<%= ff.label :credit_score, "Co-borrower's credit score", class: 'label-select' %>	
					<%= ff.select :credit_score, options_for_select(@credit_score_options), class: 'form-control' %>	
					<%= render partial: 'shared/custom_select', 
							locals: { tabindex: "23", options_list: @credit_score_options } %>
				</div>	
			</div>	<!-- end .row --> 
			
			<%end%>
		</fieldset>
		
		<%= f.submit "Submit", class: "form-control button-style" %>
		<span class="clear-btn"></span>
			
	<%end%> <!-- end form_for @borrower -->
</div>  <!-- end .container -->
</div> <!-- end #apply-page -->

