<% provide(:title, "Apply") %>
<h1>Apply for a Free Quote</h1>

<%= form_for @borrower, url: '/apply', method: :post do |f| %>
	
	<%= render 'shared/error_messages' %>
	
	<span class='accent-border'>&nbsp</span>
	
	<fieldset>
		<legend>Home information</legend>
		
		<%= f.fields_for :application do |ff| %>
			
			<div class="row">
				<div class="col-1-2">
					<%= ff.label :loan_purpose %>
					<%= ff.select :loan_purpose, options_for_select(@loan_purpose_options) %>
					<div class="select" tabindex="0">
						<span class="value"><%= @loan_purpose_options[0][0] %></span>
						<ul class="opt-list hidden">
						<% @loan_purpose_options.each do |opt| %>
							<li class="option" value=<%= opt[1] %> > <%= opt[0] %> </li>
						<%end%>
						</ul>
					</div>  <!-- close .select -->
				</div>				
				
				<div class="col-1-2">
					<%= ff.label :property_type %>
					<%= ff.select :property_type, options_for_select(@property_type_options) %>
					<div class="select" tabindex="1">
						<span class="value"><%= @property_type_options[0][0] %></span>
						<ul class="opt-list hidden">
						<% @property_type_options.each do |opt| %>
							<li class="option" value=<%= opt[1] %> > <%= opt[0] %> </li>
						<%end%>
						</ul>
					</div>  <!-- close .select -->
				</div>
			</div>
			
			<div class="row">
				<div class="col-1-2">
					<%= ff.label :purchase_price %>
					<%= ff.text_field :purchase_price %>
				</div>	
		
				<div class="col-1-2">
					<%= ff.label :budget, "Down payment budget" %>
					<%= ff.text_field :budget %>
				</div>	
			</div>
		
			<div class="row">
				<div class="col-1-2">
					<%= ff.label :zip_code %>
					<%= ff.text_field :zip_code %>
				</div>	
			</div>
		<%end%>
	</fieldset>
	
	<span class='accent-border'>&nbsp</span>
	
	<fieldset>
		<legend>Borrower information</legend>
		
		<div class="row">
			<div class="col-1-2">
				<%= f.label :first_name %>
				<%= f.text_field :first_name %>
			</div>
			<div class="col-1-2">
				<%= f.label :last_name %>
				<%= f.text_field :last_name %>
			</div>	
		</div>
		
		<div class="row">
			<div class="col-2-3">
				<%= f.label :email %>
				<%= f.text_field :email %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-2-3">
				<%= f.label :phone, "Best phone contact" %>
				<%= f.text_field :phone %>
			</div>	
		
			<div class="col-1-3">
				<%= f.label :credit_score %>
				<%= f.select :credit_score, options_for_select(@credit_score_options) %>
			</div>
		</div>
		
		
		<p class="form-label">Address</p>	
		<%= f.fields_for :address do |ff| %>		
			<div class="row">
				<div class="col-2-3">
					<!-- <%= ff.label :street_1 %> -->
					<%= ff.text_field :street_1, placeholder: "Street" %>
			
					<!-- <%= ff.label :city %> -->
					<%= ff.text_field :city, placeholder: "City" %>
				
					<!-- <%= ff.label :state %> -->
					<%= ff.select :state, options_for_select(@state_abbrev) %>
			
					<!-- <%= ff.label :zip_code %> -->
					<%= ff.text_field :zip_code, placeholder: "Zip code" %>
				</div>
			</div>			
		<%end%>
		
		<h3>Optional information to help you find the best rate</h3>
		
		<div class="row">
			<div class="col-1-2">
				<%= f.label :income, "Est. gross yearly income" %>
				<%= f.text_field :income, placeholder: "$" %>
			</div>
			
			<div class="col-1-2">
				<%= f.label :monthly_debt, "Est. monthly debt payment" %>
				<%= f.text_field :monthly_debt, placeholder: "$" %>
			</div>
		</div>
		
		<div class="row">
			<div class="col-1-2">
				<%= f.label :employer, "Current employer" %>
				<%= f.text_field :employer %>
			</div>
			
			<div class="col-1-8">
				<%= f.label :employed_since, "Since" %>
				<%= f.text_field :employed_since, placeholder: "YYYY" %>		
			</div>	
		</div>
		
	</fieldset>
	
	<span class='accent-border'>&nbsp</span>
	
	<fieldset>
		<legend>Co-Borrower information (optional)</legend>
		<h3>My co-borrower will be ...</h3>
		
		<%= fields_for :coborrower do |ff| %>
			<div class="row radio-row">
				<div class="col-1-3">
					<%= ff.radio_button :spouse, "nil", checked: true %>
					<%= ff.label :spouse_nil, "No co-borrower", class: "radio-label" %>				
				</div>
				
				<div class="col-1-3">
					<%= ff.radio_button :spouse, 1 %>
					<%= ff.label :spouse_1, "spouse", class: "radio-label" %>					
				</div>
			
				<div class="col-1-3">
					<%= ff.radio_button :spouse, 0 %>	
					<%= ff.label :spouse_0, "other", class: "radio-label" %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-1-2">
					<%= ff.label :first_name %>	
					<%= ff.text_field :first_name %>	
				</div>
			
				<div class="col-1-2">
					<%= ff.label :last_name %>	
					<%= ff.text_field :last_name %>	
				</div>	
			</div>
			
			<div class="row">
				<div class="col-1-2">
					<%= ff.label :credit_score, "Co-borrower's credit score" %>	
					<%= ff.select :credit_score, options_for_select(@credit_score_options) %>	
				</div>	
			</div>	
		<%end%>		
	</fieldset>
	
	<%= f.submit "Submit", class: "button-style" %>
	
<%end%>

<!-- DEBUG --> 

<!-- <%= debug(params) %> -->






