<div class="center-wrap clear-nav">

<section id='home'>
  <div class='row' id='hero-row'>  
		<div class='col-2-3'>
    	<%= image_tag('hero_logo.png', alt: "Nationwide Mortgage Group", id: 'hero-logo') %>
    </div>    	
    <p id='hero-phone'>1(800)540-7079</p> 
  </div>
  
  <div class='table'> 
  <div class='row tr'>
  	<div class='td'>
  		<%= link_to "Get your quote", apply_path, id: 'hero-button', 
  						class: 'button-style' %>			
  	</div>
  	<div class='td'>
  		<h1 id='hero-blurb'>  
       	Whether you're buying a home or refinancing, 
      	<strong>Nationwide Mortgage Group</strong> is here to find you the 
      	<em>lowest rates</em> & <em>lowest closing costs</em> on your mortgage.
    	</h1>
  	</div>
  </div> 
  </div>    <!-- close .table-wrap -->   
</section>


<!-- Why Nationwide? -->  
<section>   
  
  <div class='pitch'>      
    <div class='icon'>
      <%= image_tag('keys_icon.png', alt: 'icon: house keys') %>
    </div>
        
    <h2>You don't need perfect credit or a lot up front to get the home you want</h2>
    
    <div class='blurb'>
      It's easier than you think to qualify with our Government 
      & non-agency Fresh Start loan programs:
    </div>
      
    <div class='row'>
      <div class='col-1-2'>
      	<ul>
       		<li>FHA loans</li>
        	<li>HARP loans</li>
        	<li>VA loans</li>
        	<li>USDA Rural Housing</li>
        	<li>& more</li>
     	 	</ul>
      </div>
         
      <aside class='col-1-2 sidebar'>  
       	<%= image_tag('underwater_house_icon.png', alt: 'icon') %>
        <p>Even underwater homeowners can refinance with HARP options</p>
    	</aside>   <!-- close .col-1-2 -->
    </div>   <!-- close .row -->  
    
  </div>   <!-- close .pitch -->

	<!-- pitch 2 -->
	<div class='pitch'>        
  	<div class='icon'>
    	<%= image_tag('piggybank_icon.png', alt: 'icon: piggy bank') %>
    </div>

    <h2>Take advantage of mortgage rates at their lowest in decades!</h2>
    <div class='blurb'>
      <p>
        Free up cash for life's other big milestones by refinancing
        your mortgage. We can help you save, consolidate debt, or cash out.
      </p>   
      <%= image_tag('grad_car_icon.png', alt: 'icon: graduate and new car') %>
    </div>   <!-- close .blurb --> 
  </div>   <!-- close .pitch -->
      
  <!-- pitch 3 -->    
  <div class='pitch'>       
    <div class='icon'>
      <%= image_tag('brain_icon.png', alt: 'icon: brain') %>
    </div>
         
    <h2>Concierge Mortgage Services</h2>
    <div class='blurb'>
      We're experts. We can help you navigate the options and find
      the best deal for you. Call now or click below to get a
      quote and get started!
    </div>   <!-- close .blurb --> 
	</div>   <!-- close .pitch -->
      
  <%= link_to "Get your quote", apply_path, class: 'button-style' %>
  <span class='clear-btn'></span>   
      
</section>

</div>    <!-- close .center-wrap -->