<% provide(:title, "Mortgage Calculator") %>

<div class='center-wrap clear-nav'>
<h1>Mortgage Calculator</h1>

<%= form_for @mrtg_calc, url: { controller: "mortgage_calculators", action: "update" },
												method: :post do |f| %>

	<%= f.label :loan_amt, "Loan amount" %>
	<%= f.text_field :loan_amt %>
	
	<%= f.label :rate, "Interest rate" %>
	<% rate = @mrtg_calc.rate.to_s %>
	<%= f.select :rate, options_for_select(select_options("rate"), selected: rate) %>
	
	<%= f.label :term %>
	<% term = @mrtg_calc[:term].to_s %>
	<%= f.select :term, options_for_select(select_options("term"), selected: term) %>
	
	<%= f.submit "Calculate" %>

<%end%>

<h4>Monthly payment</h4>
<%= @result[:monthly] %>

<h4>Total payments</h4>
<%= @result[:total] %>

<h4>Total interest</h4>
<%= @result[:interest] %>

</div>   <!-- close .center-wrap -->

<%= debug(params) if Rails.env.development? %>